p {color:black; 
}

html {background-image: url(./images/images.jpeg);
    background-size: cover;
}

h1 {color:white;
}

li {color:whitesmoke;
}

a {color:antiquewhite;
}

img {color:wheat;
}

#title{color:white;
    background-color: black;
    text-align: center;
    font-size: 100px;
    padding-bottom:50px;
    padding-top:50px;
    margin-top:8px;
    margin-bottom: 30px

}

.center{
    text-align: center;
}

.bar{
    background-color:blueviolet;
    padding-top: 12px;
    padding-bottom: 12px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

#StartBar{
    padding-right:32px;
    padding-left:25px
}

#cat{
    width: 300px;
    height:450px;
    float:left;
    padding-top: 30px;
}

#quotep1{
    text-align:center;
    font-size: 65px;
    color:white;
}

#quotep2{
    text-align:center;
    font-size: 65px;
    color:white;
}